.bg0 {
  background: url("http://res.cloudinary.com/one-thousand-words/image/upload/v1502972179/ouvgpujpe0msccipj6h3.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg1 {
  background: url("http://res.cloudinary.com/one-thousand-words/image/upload/v1502972308/jqpjqau0qdr8funs7dhv.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg2 {
  background: url("http://res.cloudinary.com/one-thousand-words/image/upload/v1502972394/g1kkln70roh9zqqiypyl.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg3 {
  background: url("http://res.cloudinary.com/one-thousand-words/image/upload/v1502972614/wblpagzh2pqnc8tgyume.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg4 {
  background: url("http://res.cloudinary.com/one-thousand-words/image/upload/v1502972754/lstejl6cm49gmxquehc3.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
