.bg0 {
  background: url("http://res.cloudinary.com/one-thousand-words/image/upload/v1500945038/kentkmqyht51rx4bp9qp.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg1 {
  background: url("http://res.cloudinary.com/one-thousand-words/image/upload/v1501031398/kjrhfqitlqjakkiokc6h.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg2 {
  background: url("http://res.cloudinary.com/one-thousand-words/image/upload/v1501031471/nzlyj0ns8pfdvqlq1guc.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg3 {
  background: url("http://res.cloudinary.com/one-thousand-words/image/upload/v1501031497/fhhxx3bwpqjf5axk0q6k.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg4 {
  background: url("http://res.cloudinary.com/one-thousand-words/image/upload/v1501031523/izy6rhboxxnnwen1l7id.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
