<!DOCTYPE html>
<html>
  <head>
    <title>Tōdō - A To-Do List App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link href='https://fonts.googleapis.com/css?family=Pacifico'
          rel='stylesheet'
    >
    <%= javascript_include_tag 'application' %>
  </head>

  <body id='page_body' class='bg0'>
    <%= yield %>
  </body>
</html>
